{% extends "base.html" %} 

{% block title %}Events for {{ person }}{% endblock %}

{% block content %}
<div class="starter-template">
  <div>
    <div class='col-md-9'><h1>{{ event.name }}</h1></div>
    <div class='col-md-3'><h1>{{ event.date_time }}</h1></div>
  </div>
  <div>
    <div class='col-md-12'><h3>{{ event.description }}</h3> </div>
  </div>
</div>

<br /><br />

<div>
  <div class='col-md-12'>&nbsp;</div>
  <div class='col-md-12'>
    <form action="/events/{{ event.id }}/" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Register" />
    </form>
  </div>
</div>
{% endblock %}